.box {
  margin-bottom: 20px;
  padding: 30px 15px;
  overflow: hidden;

  background: #fff;
  background: rgba(255,255,255,0.9);
}

.img-responsive {
  width: 100%;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.brand-before {
  color: #000;
  font-size: 22px;
}

.brand-name {
  font-family: 'MTCORSVA';
  font-size: 48px;
}

.intro-text {
  padding-bottom: 30px;

}

.studio_description {
  overflow: hidden;
  display: table;

  img {
    display: table-cell;
    margin-right: 20px;
  }

  .text {
    min-height: 100%;
    display: table-cell;
    vertical-align: middle;

    font-size: 22px;
  }
}

.services_list {
  overflow: hidden;

  li {
    width: 50%;
    margin: 0;
    float: left;
  }
}